// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use '@/common.scss';

.curie {
  font-size: var(--togostanza-font-size);
}

.resolution-icon {
  position: relative;
  height: calc(var(--togostanza-status_icon-font_size_mult) * var(--togostanza-font-size));
  width: calc(var(--togostanza-status_icon-font_size_mult) * var(--togostanza-font-size));
  display: inline-block;
  background-image: url(//docs.identifiers.org/togostanza-widgets/idorg-curie/assets/logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  &::after {
    position: absolute;
    height: var(--togostanza-status_icon-size_percentage);
    width: var(--togostanza-status_icon-size_percentage);
    left: calc(100% - var(--togostanza-status_icon-size_percentage));
    top: calc(100% - var(--togostanza-status_icon-size_percentage));
    content: '';
    background-size: cover;
  }
  &.loading::after {
    cursor: wait;
    animation: spin 1.5s linear infinite;
    background-image: url(//docs.identifiers.org/togostanza-widgets/idorg-curie/assets/loading.png);
  }
  &.success {
    cursor: pointer;
    &::after {
      background-image: url(//docs.identifiers.org/togostanza-widgets/idorg-curie/assets/checkmark.png);
    }
  }
  &.fail {
    cursor: not-allowed;
    &::after {
      background-image: url(//docs.identifiers.org/togostanza-widgets/idorg-curie/assets/error.png);
    }
  }
}

@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}