<span class="curie-wrapper {{classesWrapper}}">
    <span class="curie {{classesText}}">{{curie}}</span>
    <div class="resolution-icon {{classesIcon}} loading"> 
        <!-- This is filled in by css -->
    </div>
</span>
