/*
For each individual EBI-*.css font file as made by grunt-webfont:
https://github.com/sapegin/grunt-webfont#template
*/

/* Icons */


.icon.icon-fileformats.icon-AGP:before {
	content:"\41";
}


.icon.icon-fileformats.icon-BAM:before {
	content:"\42";
}


.icon.icon-fileformats.icon-CML:before {
	content:"\43";
}


.icon.icon-fileformats.icon-CRAM:before {
	content:"\52";
}


.icon.icon-fileformats.icon-CSV:before {
	content:"\63";
}


.icon.icon-fileformats.icon-DOC:before {
	content:"\64";
}


.icon.icon-fileformats.icon-FASTA:before {
	content:"\61";
}


.icon.icon-fileformats.icon-FASTQ:before {
	content:"\66";
}


.icon.icon-fileformats.icon-FLAT:before {
	content:"\46";
}


.icon.icon-fileformats.icon-GFF:before {
	content:"\47";
}


.icon.icon-fileformats.icon-IMG:before {
	content:"\49";
}


.icon.icon-fileformats.icon-JSON:before {
	content:"\4a";
}


.icon.icon-fileformats.icon-MDL:before {
	content:"\4d";
}


.icon.icon-fileformats.icon-OBO:before {
	content:"\4f";
}


.icon.icon-fileformats.icon-OWL:before {
	content:"\6f";
}


.icon.icon-fileformats.icon-PDF:before {
	content:"\70";
}


.icon.icon-fileformats.icon-Postscript:before {
	content:"\33";
}


.icon.icon-fileformats.icon-PSI-MI_JSON:before {
	content:"\f101";
}


.icon.icon-fileformats.icon-PSI-MI_TAB:before {
	content:"\32";
}


.icon.icon-fileformats.icon-PSI-MI_XML:before {
	content:"\31";
}


.icon.icon-fileformats.icon-RD:before {
	content:"\72";
}


.icon.icon-fileformats.icon-RDF_XML:before {
	content:"\44";
}


.icon.icon-fileformats.icon-RXN:before {
	content:"\58";
}


.icon.icon-fileformats.icon-SDF:before {
	content:"\73";
}


.icon.icon-fileformats.icon-TSV:before {
	content:"\76";
}


.icon.icon-fileformats.icon-TXT:before {
	content:"\74";
}


.icon.icon-fileformats.icon-XML:before {
	content:"\78";
}


.icon.icon-fileformats.icon-ZIP:before {
	content:"\5a";
}
